{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<h2>Registro</h2>

<form method="POST">
    <div class="mb-3">
        <label>Nombre</label>
        <input type="text" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Contraseña</label>
        <input type="password" class="form-control" required>
    </div>

    <button class="btn btn-success">Registrarse</button>
</form>
{% endblock %}