{% extends "base.html" %}
{% block content %}
<div class="card-steam">
    <h4 class="text-uppercase mb-4">Panel de Control</h4>
    <div class="input-group mb-4">
        <input type="text" class="form-control" placeholder="Nueva tarea...">
        <button class="btn btn-steam">AÑADIR</button>
    </div>
    <div class="p-3 d-flex justify-content-between" style="background: #2a475e;">
        <span>Tarea de ejemplo</span>
        <button class="btn btn-danger btn-sm">X</button>
    </div>
</div>
{% endblock %}