{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 card-steam">
        <h4 class="text-uppercase">Iniciar Sesión</h4>
        <form method="POST">
            <label class="small text-info">USUARIO</label>
            <input type="text" name="usuario" class="form-control mb-3" required>
            
            <label class="small text-info">CONTRASEÑA</label>
            <input type="password" name="password" class="form-control mb-4" required>
            
            <button type="submit" class="btn btn-steam w-100">ENTRAR</button>
            <a href="/recuperar" class="d-block mt-3 text-secondary small text-center">¿Olvidaste tu clave?</a>
        </form>
    </div>
</div>
{% endblock %}